[MASTER]
docstring-min-length=10
disable=C0103,missing-function-docstring,missing-class-docstring,missing-module-docstring,too-few-public-methods

[FORMAT]
good-names=_,f,i,j,k,m,n,dt,__all__,__name__,__version__

[TYPECHECK]
ignored-modules=numpy,torch
ignored-classes=numpy,torch

[MAIN]
max-line-length=100
